/*-------------------------------------------------------*/

.ocultar_opc {
    display: none;
}

#grupo_chat {

    position: fixed;
    right: 10px;
    top: 100px;
}

.body_grupo_chat {

    list-style: none;
    margin: 0px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

}

.usuario_grupo {
    background-color: lightgoldenrodyellow;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #40B0BF;
}

.usuario_grupo img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


a.name_grupo {
    text-decoration: none;
    font-weight: 100;
}
