.cont_main {
    margin-top: 50px;
    width: calc(100% - 70px);
    margin-left: auto;
}

.chat-grupo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 2px;
}

.historial_chat {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.historial_chat li {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.historial_chat li img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;

}

.historial_chat li a {
    width: 90%;
    padding: 5px;
    word-break: break-all;
    font-size: 12px;
}

.historial_chat li small {
    padding: 0px;
    margin-right: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 425px) {
    .cont_main {
        width: calc(100% - 160px);
        margin-left: auto;
    }

}

@media (min-width: 768px) {
    .cont_main {
        width: calc(100% - 250px);
        margin-left: auto;
    }

}
