.Activo {
    color: #2ECC71;
}

.NoActivo {
    color: #D5DBDB;
}

.footer-chat,
.footer_chat_anonimo {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-content: center;
}

/*simple cambios de chat anonimo!!!*/

a.politica_privacidad {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 15px;
    color: #ccc;
    padding: 10px;
}

.Contactar_Agente {
    display: block;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}

.expandir_background {
    padding: 100px;
    background-color: darkcyan;
    color: white;
}

.footer_chat_anonimo {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100px;

}

.chatBox_anonimo {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    display: none;

}

.buscandoAgente {
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
}

.buscandoAgente p {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    font-family: serif;
    font-weight: 100;
    background-color: #329168;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscandoAgente img {
    display: block;
    object-fit: cover;
    height: 150px;
}

/**/


.chatBox,
.chatBoxGrupo {
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
    margin-right: 2px;
}


.chat_header {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    background-color: white;
}

.chat_name {
    width: 80%;
    font-size: 15px;
    padding: 0px 10px;
    text-align: center;
}

.chat_is_type {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.new_chat_msj,
.cerrar_chat,
.conexion_status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    background-color: transparent;
}

.new_chat_msj {
    right: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
    background-color: #b22222;
}

.conexion_status {
    right: 20px;
}

.cerrar_chat {
    right: 0px;
    z-index: 100;
    padding: 10px;
}



.cerrar_chat:hover {
    text-decoration: none;
    color: rgba(31, 31, 31, 0.7);
}

.chat_body {
    height: 370px;
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 10px;
}


.chat_body::-webkit-scrollbar,
.chat_body::-moz-scrollbar {
    width: 10px;
}

.chat_body::-webkit-scrollbar-thumb,
.chat_body::-moz-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;

}


.chat {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    position: relative;
    margin-top: 35px;
}

.chat_width-100 {
    position: absolute;
    padding: 0px;
    margin: 0px;
    color: dodgerblue;
    font-size: 12px;
}

.name_chat {
    bottom: 100%;
    left: 0px;
}

.fecha_chat {
    top: 100%;
    right: 0px;
}

.chat .user-photo {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .chat-message {
    width: 85%;
    border-radius: 5px;
    height: auto;
    margin: 0px;
    padding: 5px;
    word-break: break-all;
    background-color: dodgerblue;
}

.chat .friend {
    background-color: dodgerblue;
    order: -1;
    color: white;
}

.chat .self {
    background: #11998e;
    color: white;
}

.chat-foot {
    display: flex;
    justify-content: space-between;

    background-color: white;
}

.ultima_conexion_chat {
    display: block;
    text-align: left;
    width: 100%;
    color: #ccc;
    padding: 10px;
}

.btn_foot_chat {
    width: 12.5%;
    height: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;

}

.btn_foot_chat.btn_send {
    color: dodgerblue;
}

.btn_foot_chat.btn_file_upload {
    color: #5F6A6A;
}

.chat-foot .message_send,
.chat-foot .message_send_grupo,
.chat-foot .message_send_anonimo {
    border-radius: 7px;
    width: 75%;
}


@media (min-width: 426px) {

    #footer-chat {
        right: 0px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }

    .chatBox,
    .chatBoxGrupo {
        width: 300px;
        height: 400px;
        border: 1px solid #ccc;
        margin-right: 2px;
    }

    .chat_header {
        font-size: 12px;
    }

    .chat .chat-message {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .chat_header {
        font-size: 15px;
    }

    .chat .chat-message {
        font-size: 12px;
    }
}
