* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conte_scroll {
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
}

.conte_menu {
    display: block;
    width: calc(100% - 70px);
    background-color: #3c4245;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 901000;
    border-bottom: 1px solid #ccc;
}


.conte_menu a:hover {
    color: #f2f4f6;
}

.opcion_rigth {
    height: 100%;
    display: flex;
    align-items: center;
}

a.item_a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;
    height: 100%;
    position: relative;
    color: #f2f6f5;
    font-size: 15px;

}

a.item_a:hover {
    color: #ccc;
}

.anonimo_call {
    position: absolute;
    bottom: 50%;
    right: -5px;
    padding: 0px 5px;
    border-radius: 7px;
    background-color: red;
}




.mostrar_menu_items {
    display: block;
    padding: 10px;
    background-color: white;
}


.img_perfil,
.img_perfil_config {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    object-fit: cover;
}

#config_footer {
    /*background-color: red;*/
    padding: 10px;

}

/*estilos del menu perfil*/

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.configuraciones_perfil.conf_show {
    right: 0px;
    transition: .7s ease;

}

ul.perfil,
ul.grupo_lista,
.ul.anonimo_lista {
    position: fixed;
    top: 50px;
    transition: .7s ease;
    z-index: 400000;
    border: 1px solid #ccc;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

ul.grupo_lista::-webkit-scrollbar,
ul.anonimo_lista::-webkit-scrollbar {
    width: 10px;
}

ul.grupo_lista::-webkit-scrollbar-thumb,
ul.anonimo_lista::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;

}

/*lista anonimo*/
ul.anonimo_lista {
    position: absolute;
    top: 100%;
    width: 300px;
    height: 350px;
    left: 0px;
    z-index: 400000;
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    display: none;
}

/*---------------*/
ul.grupo_lista {
    width: 300px;
    height: 400px;
    right: 100px;
    display: none;
}

.item_grupo_event {
    display: flex;
    align-items: center;
    padding: 10px 10px 15px 10px;
    position: relative;
    word-break: break-all;
    background-color: #FCFDF9;
    color: dodgerblue;
    border-bottom: 1px solid #ccc;
}

.item_grupo_event:hover {
    background-color: #DBDBDB;
    color: #5C5C5C;
}

.item_grupo_event .new_mensaje_ {
    background-color: crimson;
    border-radius: 7px;
    margin-right: 0px;
    color: white;
    padding: 5px 10px;
    position: absolute;
    right: 10px;

}

.conexion_ {
    position: absolute;
    right: 10px;
}

.item_grupo_event .status_grupo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 5px;
    color: #41BA85;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/*---------------*/
ul.perfil {
    right: -1000;
}

ul.perfil.conf_show {
    right: 0px;
}

ul.perfil li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: 100;
    color: #3c4245;

}

ul.perfil li:nth-child(n+2):hover {
    background-color: #DBDBDB;
    color: #5C5C5C;
}

.img_perfil_config {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid #ccc;
}

@media (min-width:426px) {

    .conte_menu {
        width: calc(100% - 180px);
    }
}


@media (min-width:768px) {

    .conte_menu {
        width: calc(100% - 250px);
        font-size: 14px;
    }
}
