* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conte_users {

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

    width: 70px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.info_users {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0px;
    padding: 10px;

    border-bottom: 1px solid #ccc;
    background-color: white;
    background-color: #3c4245;

    z-index: 100;
    font-size: 10px;
}

.info_users h1 {
    display: none;
    color: white;
}

.users {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.users::-webkit-scrollbar {
    width: 10px;
}

.users::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #ccc;

}

.item-user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.item-user:hover {
    background-color: #F2F4F4;
    color: #909497;
}

.item-user:hover a {
    color: #45454d;

}


a.user {
    display: none;
}

.users img {
    display: block;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px;
}

.status_user {
    font-size: 12px;
}

.Activo {
    color: #2ECC71;
}

.NoActivo {
    color: #D5DBDB;
}


#buscar {
    display: flex;
    align-items: center;
    position: relative;
    border: none;
}

#buscar .icon_ {
    position: absolute;
    left: 5px;
    color: #ccc;
}

#buscar .input_busqueda {
    width: 100%;
    padding: 7px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: white;
    font-size: 10px;
}





@media (min-width: 425px) {
    .item-user {
        padding: 10px;
        justify-content: space-between;

    }

    .users img {
        width: 30px;
        height: 30px;
    }

    .conte_users {
        width: 180px;
    }

    a.user {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;

        padding: 10px 5px 0px 5px;
        text-decoration: none;
        color: #45454d;
        font-size: 10px;


        position: relative;
    }

    .is_type {
        position: absolute;
        left: 15px;
        top: 0px;

        width: 100%;
        display: block;
        font-size: 10px;
        color: #797D7F;
    }

    .n_mensaje {
        background-color: #CB4335;
        color: white;
        padding: 2px 10px;
        border-radius: 5px;
    }

}

@media (min-width:768px) {
    .info_users {
        height: 50px;
    }

    .info_users h1 {
        display: block;
        font-size: 20px;
    }

    #disponibles_chat {
        font-size: 12px;
    }

    .conte_users {
        width: 250px;
    }

    a.user {
        font-size: 14px;
    }

    .status_user {
        margin-right: 10px;
    }

    .item-user {
        padding: 5px;
        border-bottom: 1px solid #d7d1c9;
    }

    #buscar .input_busqueda {
        padding: 10px;
        font-size: 15px;
    }
}
